body{
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    text-align: center;
    background-color: rgb(227, 234, 255);
    margin: 1rem;
}

a{
    text-decoration: none;
}


main{
    margin: auto;
    max-width: 1300px;
}

/*using flexbox*/
.c1{
    display: flex;
    background-color: gold;
    width: 100%;
    margin-top: 2rem;
    border-radius: 1rem;
    height: 15vh;
    text-align:center;
    align-items: center;
}

.bannerLink{
    color: navy;
}

.logo{
    flex: 0 1 20vw;
    width: 40%
}

#logoPic{
    width: 20vh;
    height: 20vh;
    align-items: center;
    margin-top: -.5rem;
    padding: 1rem .5rem;
}

.headerText{
    flex: 0 1 80vw;
    color: navy;
    font-family: "Arial Black", Gadget, sans-serif;
    line-height: 2.5rem;
    width: 60%;
    padding: 1rem;
    margin: 0.5rem;
}

h1.headerText{
    display: inline-block;
    font-size: 5vw;
}

.c2{
    display: flex;
    margin: 1rem;
    flex-direction: column;
}

.box1{ /*nav bar*/
    flex: 0 1 4vh;
    background-color: gold;
    border-radius: 2rem;
    text-align:center;
    align-items: center;
    order: 1;
    margin-top: .3rem;
    padding-top: 1vh;
    padding-bottom: .7vh;
    border: solid;
    border-color: navy;
   
}

.navBarLinks{
    color: navy;
    padding-top: .3rem;
    display:inline-flex;
    align-items: center;
    text-align: center;
    margin:0;
}

.navBarLinks:hover{
    color: darkolivegreen;
}

.pageName{ /*aka h2.box1*/
    font-size: 1.5rem; 
    display: inline-block;
    color: navy;
    padding: .5rem;
    margin: auto;
    margin-top: 1rem;

}

.box2{ /*home info*/
    flex: 0 1 100;
    flex-basis: 100%;
    order:2;
    font-size: 1rem;
    order: 2;
    flex-direction: row;
}

.c3{
    width: 100%;
    align-items: center;
}

.homePic{
    width: 100%;
    display: inline-block;
    width: 4rem;
    height: 8rem;
}


.catList{
    list-style-type: none;
    align-items: center;
    text-align: center;
    padding-right: 2rem;
}

a.catLink:visited{
    color: blue;
}


/*gallery specific formatting*/

.galBox1{
    flex: 0 1 4vh;
    background-color: gold;
    border-radius: 2rem;
    text-align:center;
    align-items: center;
    order: 1;
    margin-top: .3rem;
    padding-top: 1vh;
    padding-bottom: .7vh;
    border: solid;
    border-color: navy;

}

.galBox2{ /*all the pictures*/
    order:3;
}

.galHeader{
    flex: 0 1 4vh;
    order:2;
    color:navy;
    font-size: 1.5rem; 
    display: inline-block;
    padding: .5rem;
    margin: auto;
    margin-top: 1rem;
}

.galPic{
    width: 100%;
    display: inline-block;
    width: 4rem;
    height: 8rem;
    overflow-wrap:break-word;
}

.laptopSizeFormat{
    order:2;
}

a.showName{
    font-weight: bolder;
}

.showName:visited{
    color: black;
}

.showName:hover{
    color:red;
}

/*media queries*/

/*Screen Sizes 700px-1100px.  About tablet size*/
@media(min-width: 641px) and (max-width: 1007px){
    
    body{
        margin: 1.5rem;
    }

    .c1{
        height: 16vh;
        margin-top: 3vh;
        margin-bottom: 2vh;
    }

    .box1{
        align-items:center;
        flex: 0 1 4vh;
        margin:auto;
        padding: .7rem;
        border: solid;
        border-color: navy;
    }

    .pageName{
        margin: 1rem;
        margin-bottom: -2rem;
        font-size: 1.6rem;
    }

    .box2{
        font-size: 1.3rem;
    }

    .navBarLinks{
        padding-top: .5rem;
        display:inline-block;
        line-height: 1rem;
        line-break: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: .7rem;
        font-size: 1.2rem;
    }

    #logopic{
        padding-left: 2vw;
        width: 25vh;
        height: 25vh;
    }

    .c3{
        flex-basis: 80vw;
        
    }

    /*gallery stuff*/
    .galHeader{
        margin: 1rem;
        margin-bottom: -2rem;
        font-size: 1.6rem;
    }

    .galPic{ /*each individual picture*/
        width: 8rem;
        height: 15rem;;

    }

    .galBox2{ /*the pictures*/
        margin-top: 3rem;
    }

}

/*laptop size*/
@media(min-width: 1007px){

    body{
        margin: 1.5rem;
    }

    .c1{
        height: 16vh;
        margin-top: 8vh;
    }

    .c2{
        display:flex;
        flex-direction: row;
        flex-basis: 100vw;
        align-items:center;
        text-align:center;
    }

    .headerText{
        font-size: 2rem;
        line-height: 3.5rem;
    }

    .pageName{
        font-size: 3rem;
        margin-top: 1rem;
    }

    .navBarLinks{
        display:list-item;
        list-style-type: none;
        font-size: 1.4rem;
        line-height: 1.5rem;
        align-items: center;
        margin:auto;
    }
    .box1{ /*nav bar*/
        flex-basis: 40vw;
        padding-left: .5rem;
        padding-right: .5rem;
        padding-top: .7rem;
        padding-bottom: .5rem;
        margin-top: 8vh;
        height: 25rem;
        max-width: 8vw;
    }

    .box2{ /*info*/
        flex-basis: 300vw;
        font-size: 1.5625rem;
        padding-left: 8rem;
        text-align:center;
        margin-right: 7rem;
        margin-left:8rem;
        margin-top: 0;
    }   

    #logoPic{
        padding-left: 5vw;
        width: 30vh;
        height: 30vh;

    }

    .c3{
        width: 70;
        align-items:center;
        text-align:center;
        padding-left: 5rem;
    }

    .homePic{
        width: 10rem;
        height: 17rem;
        padding: .2rem;
        
    }

    /*gallery stuff*/
    .galHeader{
        font-size: 3rem;
        text-align: centers;
        margin-top: 1rem;
    }

    .galBox1{
        flex-basis: 40vw;
        padding-left: .5rem;
        padding-right: .5rem;
        padding-top: .7rem;
        padding-bottom: .5rem;
        margin-top: 8vh;
        height: 48vh;
        max-width: 8vw;
        position: relative;
        order: 1;
    }

    .galBox2{
        margin-top: 3rem;

    }

    .galPic{
        width: 14rem;
        height: 28rem;
    }

    .galNavWrapper{
        position:fixed;
        top:15rem;
        left: 8.5rem;
    }

    .laptopSizeFormat{
        padding:0;
        margin-left: 12rem;
    }

    .navWrapper{
        position: fixed;
        top: 15rem;
        left: 8.5rem;

    }
}




